@import '__settings/init';

// Offsets
@for $i from 0 through 11 {
	.offset-#{$i} {
		margin-left: calc($i / 12) * 100%;
	}
}

// Tablet
@for $i from 0 through 11 {
	.offset-md-#{$i} {
		@include media('>=md') {
			margin-left: calc($i / 12) * 100%;
		}
	}
}

// Small Desktop
@for $i from 0 through 11 {
	.offset-lg-#{$i} {
		@include media('>=lg') {
			margin-left: calc( $i / 12 ) * 100%;
		}
	}
}

// Desktop
@for $i from 0 through 11 {
	.offset-xl-#{$i} {
		@include media('>=xl') {
			margin-left: calc($i / 12) * 100%;
		}
	}
}

// Order
@for $i from 1 through 12 {
	.order-#{$i} {
		order: $i;
	}
}

// Tablet
@for $i from 1 through 12 {
	.order-md-#{$i} {
		@include media('>=md') {
			order: $i;
		}
	}
}

// Small Desktop
@for $i from 1 through 12 {
	.order-lg-#{$i} {
		@include media('>=lg') {
			order: $i;
		}
	}
}

// Desktop
@for $i from 1 through 12 {
	.order-xl-#{$i} {
		@include media('>=xl') {
			order: $i;
		}
	}
}
